body {
    background-color: black;
}

.headerimage {
    display: flex;
    justify-content: center;
}

img {
    width:80%
}

.item {
    background-color: orange;
    padding: 5px;
    border: black solid;
    width: 250px;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}